{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript",
    ],
    "env": {
        "production": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "loose": true
                    }
                ],
                "@babel/preset-typescript"
            ]
        }
    }
}