.edit {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    'title title title'
    'type type cancel'
    'price price button';
  align-items: start;
}

.title,
.type,
.price {
  border: none;
  margin: 1px 0;
  font-weight: bold;
  background: var(--text-color);
}

.title {
  font-size: 14px;
  grid-area: title;
}

.type {
  font-size: 12px;
  grid-area: type;
}

.price {
  font-size: 12px;
  grid-area: price;
  font-family: monospace;
}

.button,
.cancel {
  background: var(--text-color);
  font-weight: bold;
  font-size: 12px;
  color: black;
  border: 1px solid black;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.button {
  grid-area: button;
}

.cancel {
  grid-area: cancel;
}
