.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    'title title'
    'type edit'
    'price button';
}

.title {
  font-weight: bold;
  grid-area: title;
}

.type {
  grid-area: type;
}

.price {
  grid-area: price;
  font-family: monospace;
}

.button,
.edit {
  color: #1bff80;
  background: none;
  border: solid 1px #1bff80;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.button {
  grid-area: button;
}

.edit {
  grid-area: edit;
}
