.grid {
  display: grid;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: start;
  position: relative;
  grid-template-areas:
    'title title title'
    'type type .'
    'price date .';
}

.title,
.type,
.price,
.date {
  color: var(--text-color);
  font-weight: bold;
  font-size: 16px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;

  &:hover {
    opacity: 0.6;
  }
}

.title {
  grid-area: title;
}

.type {
  grid-area: type;
}

.price,
.date {
  grid-area: price;
  font-family: monospace;
}

.button {
  font-weight: bold;
  font-size: 20px;
  width: 100px;
  color: #1bff80;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  margin: 2px 0;
  position: absolute;
  right: -20px;
  top: 15px;

  &:hover {
    opacity: 0.6;
  }
}

.date {
  grid-area: date;
}
