.wrapper {
  background: radial-gradient(
    97.8% 60.23% at 50% 50%,
    #2f2f2d 8.29%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 100vh;
  position: relative;
  animation: move 0.5s ease-out;
}

.lines {
  pointer-events: none;
  background-image: repeating-linear-gradient(#000 4px, transparent 6px);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.container {
  padding: 10px;
}

.title {
  color: #1bff80;
  position: relative;
  z-index: 0;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(30vh);
  }
  75% {
    transform: translateY(-5vh);
  }
  100% {
    transform: translateY(0);
  }
}
