.card {
  color: #1bff80;
  padding: 10px;
  border-top: currentColor solid 1px;
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: 
    "title title"
    "type edit"
    "price button";
}

.title {
  font-weight: bold;
  grid-area: title;
}

.type {
    grid-area: type;
}

.price {
    grid-area: price;
}

.button, .edit {
    color: #1bff80;
    background: none;
    border: solid 1px #1bff80;
    cursor: pointer;
    
    &:hover {
        border: solid 1px red;
    }
}

.button {
    grid-area: button;
}

.edit {
    grid-area: edit;
}
