@keyframes color-change {
  0% {
    color: var(--text-color);
  }
  50% {
    color: #00632c;
  }
  100% {
    color: var(--text-color);
  }
}

.blink {
  animation: color-change 3s infinite;
}

.button {
  color: var(--text-color);
  background: none;
  border: solid 1px var(--text-color);
  cursor: pointer;
  padding: 0 15px;

  &:hover {
    opacity: 0.6;
  }
}

.iconBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 15px;

  &:hover {
    opacity: 0.6;
  }
}
